.hero {
  background-image: url(~/images/home-hero.png);
}

.first-title {
  @apply text-center
    text-xl
    font-medium
    after:mx-auto
    after:mt-6
    after:block
    after:h-[3px]
    after:w-28
    after:bg-[#dbc9c9]
    after:content-['']
    md:text-4xl;
}

.section {
  @apply px-10 py-24;
}

.img {
  @apply bg-transparent bg-center bg-no-repeat;
}

.first-section .img {
  @apply h-40 bg-contain;
}

.first-section > *:nth-of-type(1) .img {
  background-image: url(~/images/4-3.webp);
}

.first-section > *:nth-of-type(2) .img {
  background-image: url(~/images/5-1.webp);
}

.first-section > *:nth-of-type(3) .img {
  background-image: url(~/images/6-1.webp);
}

.first-section .title {
  @apply mt-4 text-xl;
}

.first-section .desc {
  @apply mt-2 font-light;
}
