@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .hero {
    @apply relative
      flex
      h-[414px]
      flex-col
      items-center
      justify-center
      gap-3
      bg-slate-400
      bg-cover
      bg-center
      text-white
      before:absolute
      before:inset-0
      before:bg-black
      before:opacity-60
      before:content-['']
      md:h-[480px]
      lg:h-[500px]
      lg:gap-9;
  }

  .hero > * {
    @apply relative text-2xl md:text-4xl lg:text-6xl;
  }

  .header-menu {
    @apply mx-auto
    hidden
    w-full
    bg-white
    py-4
    text-center
    md:inline-block
    md:w-auto
    md:bg-transparent
    [&>*+*]:mt-3
    [&>*]:mx-2
    [&>*]:text-black
    md:[&>*]:inline
    md:[&>*]:text-white;
  }
}
